{% extends "base.html" %}
<!-- needs meta tag for google login informartion -->
{% block media %}
    <style>
        #login-panel {
            position: relative;
            margin: 5em auto auto -10em;
            top: 40%;
            left: 50%;
        }

        h4 {
            padding-top: 1em;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="login-panel">
        {% if form.has_google_auth or form.has_facebook_auth or form.has_github_auth or form.has_dropbox_auth %}
            <h4>구글 계정을 이용해서 로그인하거나 가입하세요.</h4>
            {% if form.has_google_auth %}
                <a href="{{ url('social:begin', "google-oauth2") }}?next={{ next }}">
                    <img id="signInButton" width="191" height="46" alt="Sign In With Google" src="/btn_google_normal.png" onmouseover="changeLogoOn()" onmouseout="changeLogoOut()" onclick="this.src='/btn_google_pressed.png'"/>
                </a>
            {% else %}
                <img id="signInButton" width="191" height="46" alt="Sign In With Google" src="/btn_google_disabled.png"/>
            {% endif %}
            {% if form.has_facebook_auth %}
                <a href="{{ url('social:begin', "facebook") }}?next={{ next }}" class="social facebook-icon">
                    <i class="fa fa-facebook-square"></i>
                </a>
            {% endif %}
            {% if form.has_github_auth %}
                <a href="{{ url('social:begin', "github-secure") }}?next={{ next }}" class="social github-icon">
                    <i class="fa fa-github-square"></i>
                </a>
            {% endif %}
            {% if form.has_dropbox_auth %}
                <a href="{{ url('social:begin', "dropbox-oauth2") }}?next={{ next }}" class="social dropbox-icon">
                    <i class="fa fa-dropbox"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
    <script language="javascript">
        function changeLogoOn(){
            if (document.getElementById('signInButton').attributes.src.value != '/btn_google_pressed.png') {
                document.getElementById('signInButton').src='/btn_google_focus.png'
            }
        }
        function changeLogoOut(){
            if (document.getElementById('signInButton').attributes.src.value != '/btn_google_pressed.png') {
                document.getElementById('signInButton').src='/btn_google_normal.png'
            }
        }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
